*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    padding: 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
header a{
    text-decoration: none;
    color: white;
}
header h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 15vh;
}
.arrow{
    display: block;
    margin: auto;
    margin-top: 10vh;
}
main{
    display: grid;
    grid-template-columns: 50% 50%;
}
main>div{
     height: 70vh;
     padding-inline: 15%;
}
header box{
    border-radius: 20px;
    color: black;
    padding: 12px;
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
} 
.box1, .box4{
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
}
.box2{
    background-image: url(images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
}
.box3{
    background-image: url(images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
}
.box5{
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-position: center;
    display: flex;
    gap: 10%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5vh;
    justify-content: end;
    background-size: cover;
  
}
.box6{
    background-image: url(images/desktop/image-photography.jpg);
    background-position: center;
    display: flex;
    gap: 10%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5vh;
    justify-content: end;
    background-size: cover;
}
#section1{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-inline: 10vh;
    gap: 20px; 
}
#section1 img{
    border-radius: 100%;
    width: 100px;
}
#section2{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#section2 img{
    width: 100%;
}
footer{
    background-color: hsl(168, 34%, 41%);
    text-align: center;
    padding-block: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}
footer>img{
    color: #25564b;
}
footer>ul{
    display: flex;
    flex-direction: row;
    text-align: center; 
    gap: 30px;
    list-style: none;
    
}
footer ul a{
    text-decoration: none;
    color: #25564b;
}
footer div{
    display: flex;
    gap: 30px;
    padding: 10px;
}
